.body {
    background-color: #E5E7EB;
    /*color: ;*/
}

.header {
    background-color: #1F2937;
    display: flex;
    flex: 1 1 0%;
    padding: 8px;
    text-decoration: none;
    justify-content: space-between;
    flex-direction:row;
}

.logo {
    color: #E5E7EB;
}

.right-links {
    list-style-type: none;
    display: flex;
    gap: 8px;
    flex-direction: row;
    text-decoration: none;
}


ul {
    list-style-type: none;
}
a {
    color: #E5E7EB;
    text-decoration: none;
}




.footer {
    background-color: #1F2937;
    display: flex;
    height: auto;
    width: auto;
}

.copywrite {
    color: #E5E7EB;
    justify-content: center;
}